.project-card {
    background: rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.project-card:hover {
    background: rgba(0, 0, 0, 0.04);
}

.project-card__header {
    padding: 32px;
    height: 192px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-card__title-wrapper {
    opacity: 0.70;
    display: flex;
    align-items: center;
    gap: 4px;
}

.project-card__icon .material-icons {
    font-size: 30px;
    line-height: 36px;
}

.project-card__title {
    text-align: center;
}

.project-card__title--italic {
    font-style: italic;
}

.project-card__title--spaced {
    letter-spacing: 2.4px;
}

.project-card__title--underline {
    text-decoration: underline;
}

.project-card__title--bold {
    font-weight: 800;
}

.project-card__badge {
    position: absolute;
    top: 16px;
    left: 16px;
}

.project-card__stats {
    height: 130px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.project-card__stat {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.project-card__stat-label {
    display: block;
}

.project-card__stat-value {
    display: block;
}

.project-card__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 22px 16px;
    border-top: 1px #E5E7EB solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.project-card__arrow:hover {
    background: rgba(255, 92, 0, 0.05);
}

.project-card__arrow .material-icons {
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 768px) {
    .project-card__header {
        height: auto;
        min-height: 150px;
    }
}