.tech-stack {
    width: 100%;
}

.tech-stack__header {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 32px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tech-stack__title {
    font-weight: 700;
    letter-spacing: 3px;
}

.tech-stack__grid {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
}

.tech-stack__item {
    flex: 1;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-stack__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.tech-stack__icon {
    opacity: 0.60;
    width: 36px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-stack__icon-svg {
    width: 36px;
    height: 36px;
    color: var(--color-primary);
}

.tech-stack__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.tech-stack__name {
    font-weight: 700;
    text-align: center;
}

@media (max-width: 1024px) {
    .tech-stack__grid {
        flex-wrap: wrap;
    }

    .tech-stack__item {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    .tech-stack__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .tech-stack__item {
        flex-basis: 50%;
    }
}